* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: max-content;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

@media screen and (max-width: 1000px) {
  .wrapper {
    height: 200vh;
  }
}
